<ng-container *ngIf="group">
  <label for="busqueda-etiqueta" class="mt-1 mb-0">Búsqueda etiqueta</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fa fa-search fa-fw"></i></div>
    </div>
    <input
      type="text"
      id="busqueda-etiqueta"
      class="form-control"
      formControlName="etiqueta"
      [ngbTypeahead]="busquedaEtiqueta"
      [resultTemplate]="resultadosTemplete"
      placeholder="Ingrese etiqueta a buscar"
      [inputFormatter]="formatter"
    />
    <small class="d-block" *ngIf="isBuscando">Buscando...</small>
  </div>
</ng-container>
<ng-container *ngIf="!group">
  <label for="busqueda-etiqueta" class="mt-1 mb-0">Búsqueda etiqueta</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fa fa-search fa-fw"></i></div>
    </div>
    <input
      type="text"
      id="busqueda-etiqueta"
      class="form-control"
      [(ngModel)]="etiqueta"
      [ngbTypeahead]="busquedaEtiqueta"
      [resultTemplate]="resultadosTemplete"
      placeholder="Ingrese etiqueta a buscar"
      [inputFormatter]="formatter"
      (selectItem)="emitirSeleccionado($event)"
    />
    <small class="d-block" *ngIf="isBuscando">Buscando...</small>
  </div>
</ng-container>

<ng-template #resultadosTemplete let-etiqueta="result" let-query="term">
  <ngb-highlight [result]="etiqueta.nombre" [term]="query"></ngb-highlight> -
  <ngb-highlight [result]="etiqueta.categoria" [term]="query"></ngb-highlight>
</ng-template>
