<ng-container *ngIf="group">
  <span [formGroup]="group">
    <label for="busqueda-factura" class="mt-1 mb-0">{{ label }}</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fa fa-fw" [ngClass]="icon"></i></div>
      </div>
      <input
        type="text"
        id="busqueda-factura"
        class="form-control"
        formControlName="factura"
        [ngbTypeahead]="busquedaFactura"
        [resultTemplate]="resultadosTemplete"
        [placeholder]="placeholder"
        [inputFormatter]="formatter"
      />
      <small class="d-block" *ngIf="isBuscando">Buscando...</small>
    </div>
  </span>
</ng-container>
<ng-container *ngIf="!group">
  <label for="busqueda-factura" class="mt-1 mb-0">{{ label }}</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fa fa-fw" [ngClass]="icon"></i></div>
    </div>
    <input
      type="text"
      id="busqueda-factura"
      class="form-control"
      [(ngModel)]="factura"
      [ngbTypeahead]="busquedaFactura"
      [resultTemplate]="resultadosTemplete"
      [placeholder]="placeholder"
      [inputFormatter]="formatter"
      (selectItem)="emitirSeleccionado($event)"
    />
    <small class="d-block" *ngIf="isBuscando">Buscando...</small>
  </div>
</ng-container>

<ng-template #resultadosTemplete let-factura="result" let-query="term">
  <ngb-highlight [result]="factura.numeroFactura" [term]="query"></ngb-highlight> -
  <ngb-highlight [result]="factura.nombreReceptor" [term]="query"></ngb-highlight>
</ng-template>
