<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="card-title"><strong>Más usada</strong></h4>
          <div class="py-3">
            <span class="f-2"><strong class="ml-2">1500</strong></span
            >veces
          </div>
        </div>
        <div class="card-footer text-center">
          <div class="badge badge-info">Poliperros</div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="card-title"><strong>Más costosa</strong></h4>
          <div class="py-3">
            <span class="f-2"
              ><strong class="text-danger">{{ 1300 | currency: 'USD' }}</strong></span
            >
          </div>
        </div>
        <div class="card-footer text-center">
          <div class="badge badge-info">Limpieza</div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="card-title"><strong>Más beneficios</strong></h4>
          <div class="py-3">
            <span class="f-2"
              ><strong class="text-success">{{ 1500 | currency: 'USD' }}</strong></span
            >
          </div>
        </div>
        <div class="card-footer text-center">
          <div class="badge badge-info">Poliperros</div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="card-title"><strong>Más visitas</strong></h4>
          <div class="py-3">
            <span class="f-2"><strong class="text-success">1500</strong></span
            >veces
          </div>
        </div>
        <div class="card-footer text-center">
          <div class="badge badge-info">Poliperros</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-11">
      <tag-input
        [(ngModel)]="etiquetasAComparar"
        [maxItems]="3"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Seleccionar más etiquetas"
        secondaryPlaceholder="Seleccionar etiquetas"
        [onlyFromAutocomplete]="true"
        [theme]="'bootstrap'"
        [identifyBy]="'id'"
        [displayBy]="'nombre'"
      >
        <tag-input-dropdown
          [showDropdownIfEmpty]="false"
          [autocompleteObservable]="descargarEtiquetas"
          [identifyBy]="'id'"
          [displayBy]="'nombre'"
        >
          <ng-template let-etiqueta="item">
            <strong>{{ etiqueta.nombre }}</strong> - <small>{{ etiqueta.categoria }}</small>
          </ng-template>
        </tag-input-dropdown>
      </tag-input>
    </div>
    <div class="col-1 d-flex align-items-center">
      <button type="button" (click)="navegarADetalleEtiqueta()" class="btn btn-primary btn-sm btn-block"><i class="fas fa-plus-circle"></i></button>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center"><strong>Costo por mes</strong></h4>
        </div>
        <ngx-charts-line-chart
          [scheme]="lineChartColorScheme"
          [results]="resultados"
          [gradient]="lineChartGradient"
          [xAxis]="lineChartShowXAxis"
          [yAxis]="lineChartShowYAxis"
          [legend]="lineChartShowLegend"
          [showXAxisLabel]="lineChartShowXAxisLabel"
          [showYAxisLabel]="lineChartShowYAxisLabel"
          [xAxisLabel]="lineChartXAxisLabel"
          [yAxisLabel]="lineChartYAxisLabel"
          [autoScale]="lineChartAutoScale"
          [curve]="lineChartLineInterpolation"
        ></ngx-charts-line-chart>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center"><strong>Facturas del mes</strong></h4>
        </div>
        <table class="table table-hover mt-2 mb-0">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" appSortable="comentario" (sort)="onSort($event)">Descripción</th>
              <th scope="col" appSortable="total" (sort)="onSort($event)">Costo</th>
              <th scope="col" appSortable="fecha" (sort)="onSort($event)">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let factura of facturas; let indice = index">
              <td>{{ factura.indice }}</td>
              <td>
                {{ factura.comentario | slice:0:50 }}
              </td>
              <td>{{ factura.total | currency: 'USD' }}</td>
              <td>{{ factura.fecha | date: 'dd-MM-yyyy' }}</td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" class="pagination"> </ngb-pagination>

          <!-- <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
          </select> -->
        </div>
      </div>
    </div>
  </div>
</div>
