.card-body {
  padding: 2.5px 0 0 7.5px;
}

.card-title {
  margin-bottom: 0;
}

.f-2 {
  font-size: 26px;
}

.card-footer {
  padding: 0;
}

th[appSortable].desc:before {
  content: "\f063";
  display: block;
  float: left;
  margin-left: -22px;
  font-family: "Font Awesome 5 Free", sans-serif;
}

th[appSortable].asc:before {
  content: "\f062";
  display: block;
  float: left;
  margin-left: -22px;
  font-family: "Font Awesome 5 Free", sans-serif;
}
