<div class="container">
  <form [formGroup]="facturaForm" (ngSubmit)="guardarFactura()">
    <div class="row my-2">
      <div class="col-md-3"></div>
      <div class="col-md-6 border">
        <div class="row my-2">
          <div class="col-md-6">
            <label for="nombreEmisor" class="mt-1 mb-0">Nombre emisor</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-building fa-fw"></i>
                </div>
              </div>
              <input
                type="text"
                class="form-control"
                id="nombre-emisor"
                formControlName="nombreEmisor"
                placeholder="Ingresar nombre del emisor"
                [ngClass]="{ 'is-invalid': facturaForm.get('nombreEmisor').touched && facturaForm.get('nombreEmisor').invalid }"
              />
              <div *ngIf="facturaForm.get('nombreEmisor').touched && facturaForm.get('nombreEmisor').invalid" class="invalid-feedback">
                <div *ngIf="facturaForm.get('nombreEmisor').hasError('required')">Nombre emisor es requerido</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="rucEmisor" class="mt-1 mb-0">Ruc emisor</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-id-card fa-fw"></i>
                </div>
              </div>
              <input
                type="text"
                class="form-control"
                id="ruc-emisor"
                formControlName="rucEmisor"
                aria-label="rucEmisor"
                placeholder="Ingresar RUC emisor"
                [ngClass]="{ 'is-invalid': facturaForm.get('rucEmisor').touched && facturaForm.get('rucEmisor').invalid }"
              />
              <div *ngIf="facturaForm.get('rucEmisor').touched && facturaForm.get('rucEmisor').invalid" class="invalid-feedback">
                <div *ngIf="facturaForm.get('rucEmisor').hasError('required')">Ruc emisor es requerido</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-6">
            <label for="numeroFactura" class="mt-1 mb-0">N° Factura</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-money-bill fa-fw"></i>
                </div>
              </div>
              <input
                type="text"
                class="form-control"
                id="numero-factura"
                formControlName="numeroFactura"
                placeholder="Ingresar N° Factura"
                [ngClass]="{ 'is-invalid': facturaForm.get('numeroFactura').touched && facturaForm.get('numeroFactura').invalid }"
              />
              <div *ngIf="facturaForm.get('numeroFactura').touched && facturaForm.get('numeroFactura').invalid" class="invalid-feedback">
                <div *ngIf="facturaForm.get('numeroFactura').hasError('required')">Numero factura es requerido</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="numeroFactura" class="mt-1 mb-0">Fecha</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-calendar fa-fw" (click)="d.toggle()"></i>
                </div>
              </div>
              <input
                class="form-control"
                id="fecha"
                formControlName="fecha"
                placeholder="yyyy-mm-dd"
                ngbDatepicker
                #d="ngbDatepicker"
                (click)="d.toggle()"
                [ngClass]="{ 'is-invalid': facturaForm.get('fecha').touched && facturaForm.get('fecha').invalid }"
              />
              <div *ngIf="facturaForm.get('fecha').touched && facturaForm.get('fecha').invalid" class="invalid-feedback">
                <div *ngIf="facturaForm.get('fecha').hasError('required')">Fecha es requerido</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-6">
            <label for="nombreReceptor" class="mt-1 mb-0">Nombre receptor</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-building fa-fw"></i>
                </div>
              </div>
              <input
                type="text"
                class="form-control"
                id="nombre-receptor"
                formControlName="nombreReceptor"
                placeholder="Insertar nombre del receptor"
                [ngClass]="{ 'is-invalid': facturaForm.get('nombreReceptor').touched && facturaForm.get('nombreReceptor').invalid }"
              />
              <div *ngIf="facturaForm.get('nombreReceptor').touched && facturaForm.get('nombreReceptor').invalid" class="invalid-feedback">
                <div *ngIf="facturaForm.get('nombreReceptor').hasError('required')">Nombre receptor es requerido</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="nombreReceptor" class="mt-1 mb-0">RUC Receptor</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-id-card fa-fw"></i>
                </div>
              </div>
              <input
                type="text"
                class="form-control"
                formControlName="rucReceptor"
                placeholder="Ingresar RUC receptor"
                [ngClass]="{ 'is-invalid': facturaForm.get('rucReceptor').touched && facturaForm.get('rucReceptor').invalid }"
              />
              <div *ngIf="facturaForm.get('rucReceptor').touched && facturaForm.get('rucReceptor').invalid" class="invalid-feedback">
                <div *ngIf="facturaForm.get('rucReceptor').hasError('required')">RUC receptor es requerido</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-6">
            <div class="form-group">
              <label for="descripcion" class="mt-1 mb-0">Descripción</label>
              <textarea
                id="descripcion"
                class="form-control"
                formControlName="comentario"
                rows="3"
                placeholder="Describa el motivo de la factura"
              ></textarea>
            </div>
          </div>
        </div>
        <app-cargar-archivos
          (emitArchivosAlmacenados)="sincronizacionArchivosAlmacenados($event)"
          [archivosAlmacenados]="facturaForm.get('imagenes').value"
        ></app-cargar-archivos>
        <div class="row my-2">
          <div class="col-md-12">
            <div
              *ngIf="facturaForm.get('detalle').value.length < 1"
              class="alert alert-info mb-0"
              role="alert"
              (click)="agregarRubroASubtotalDetalle()"
            >
              <strong>No existe rubros, click para agregar</strong>
            </div>
            <div class="table-responsive-md">
              <table *ngIf="facturaForm.get('detalle').value.length > 0" class="table table-bordered mb-0">
                <thead class="thead-light">
                  <tr>
                    <th class="minw-50 w-15">Cantidad</th>
                    <th class="minw-150 w-25">Descripción</th>
                    <th class="minw-75 w-15">Precio unitario</th>
                    <th class="minw-75 w-15">Total</th>
                    <th class="minw-100 w-10">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let rubro of facturaForm.get('detalle').value; let indice = index">
                    <td scope="row">
                      <input
                        type="number"
                        class="form-control"
                        [(ngModel)]="rubro.cantidad"
                        [ngModelOptions]="{ standalone: true, updateOn: 'blur' }"
                        (ngModelChange)="calculoTotalFactura()"
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="rubro.descripcion"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control"
                        [(ngModel)]="rubro.precioUnitario"
                        [ngModelOptions]="{ standalone: true, updateOn: 'blur' }"
                        (ngModelChange)="calculoTotalFactura()"
                      />
                    </td>
                    <td>{{ rubro.total | number: '1.2-2' }}</td>
                    <td>
                      <button
                        type="button"
                        *ngIf="indice === facturaForm.get('detalle').value.length - 1"
                        class="btn btn-success"
                        (click)="agregarRubroASubtotalDetalle()"
                      >
                        <i class="fas fa-plus"></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="eliminarRubroASubtotalDetalle(indice); calculoTotalFactura()"
                      >
                        <i class="fas fa-minus"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          formControlName="isIngreso"
                          id="is-ingreso"
                          (ngModelChange)="calculoTotalFactura()"
                        />
                        <label class="form-check-label col-form-label" for="is-ingreso" translate>
                          Ingreso
                        </label>
                      </div>
                    </td>
                    <td>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          formControlName="isIva"
                          id="is-iva"
                          (ngModelChange)="cambiarActivacionIva(); calculoTotalFactura();"
                        />
                        <label class="form-check-label col-form-label" for="is-iva" translate>
                          Iva
                        </label>
                        <input
                          type="number"
                          class="form-control minw-50 w-25 mx-1"
                          formControlName="iva"
                          (ngModelChange)="calculoTotalFactura();"
                        />
                      </div>
                    </td>
                    <td>SubTotal</td>
                    <td>{{ facturaForm.get('subTotalDetalle').value | number: '1.2-2' }}</td>
                    <td>
                      <button
                        type="button"
                        *ngIf="facturaForm.get('detalleTotal').value.length < 1"
                        class="btn btn-success"
                        (click)="agregarRubroASubtotalDetalleTotal()"
                      >
                        <i class="fas fa-plus"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"></td>
                    <td>Iva</td>
                    <td>{{ facturaForm.get('valorIva').value | number: '1.2-2' }}</td>
                    <td></td>
                  </tr>
                  <tr *ngFor="let rubro of facturaForm.get('detalleTotal').value; let indice = index">
                    <td colspan="2"></td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="rubro.nombre"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control"
                        [(ngModel)]="rubro.cantidad"
                        [ngModelOptions]="{ standalone: true, updateOn: 'blur' }"
                        (ngModelChange)="calculoTotalFactura()"
                      />
                    </td>
                    <td>
                      <button
                        type="button"
                        *ngIf="indice === facturaForm.get('detalleTotal').value.length - 1"
                        class="btn btn-success"
                        (click)="agregarRubroASubtotalDetalleTotal()"
                      >
                        <i class="fas fa-plus"></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="eliminarRubroASubtotalDetalleTotal(indice); calculoTotalFactura()"
                      >
                        <i class="fas fa-minus"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"></td>
                    <td>
                      <strong>Total</strong>
                    </td>
                    <td>{{ facturaForm.get('total').value | number: '1.2-2' }}</td>
                    <td></td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-12">
            <tag-input
              formControlName="etiquetas"
              [maxItems]="3"
              placeholder="Ingresar más etiquetas"
              secondaryPlaceholder="Ingresar etiquetas"
              [onlyFromAutocomplete]="true"
              [theme]="'bootstrap'"
              [identifyBy]="'id'"
              [displayBy]="'nombre'"
            >
              <tag-input-dropdown
                [showDropdownIfEmpty]="false"
                [autocompleteObservable]="descargarEtiquetas"
                [identifyBy]="'id'"
                [displayBy]="'nombre'"
              >
                <ng-template let-etiqueta="item">
                  <strong>{{ etiqueta.nombre }}</strong> - <small>{{ etiqueta.categoria }}</small>
                </ng-template>
              </tag-input-dropdown>
            </tag-input>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-12 d-flex text-center">
            <button type="submit" *ngIf="!facturaForm.get('id').value" class="btn btn-outline-success">
              Guardar
            </button>
            <button
              type="button"
              *ngIf="facturaForm.get('id').value"
              class="btn btn-outline-success mr-2"
              (click)="actualizarFactura()"
            >
              Actualizar
            </button>
            <button
              type="button"
              *ngIf="facturaForm.get('id').value"
              class="btn btn-outline-danger mr-2"
              (click)="eliminarFactura()"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
