<div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 border">
        <div class="row my-2">
          <div class="col">
            <app-busqueda-factura (resultadoSeleccion)="cargarFacturaEnCrud($event)" class="mb-2"></app-busqueda-factura>
          </div>
        </div>
       </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <app-crud-factura [factura]="factura"></app-crud-factura>
