<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 border">
      <div class="row my-2">
        <div class="col">
          <app-busqueda-etiqueta (resultadoSeleccion)="cargarEtiquetaEnCrud($event)" class="mb-2"></app-busqueda-etiqueta>
        </div>
      </div>
     </div>
    <div class="col-3"></div>
  </div>
</div>
<app-crud-etiqueta [etiqueta]="etiqueta"></app-crud-etiqueta>
