<div class="container">
  <div class="row my-2">
    <div class="col-md-3"></div>
    <div class="col-md-6 border">
      <form [formGroup]="etiquetaForm" (ngSubmit)="guardarEtiqueta()">
        <div class="row my-2">
          <div class="col-md-6">
            <label for="nombre" class="mt-1 mb-0">Nombre etiqueta</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-tag fa-fw"></i></div>
              </div>
              <input
                type="text"
                id="nombre"
                class="form-control"
                formControlName="nombre"
                placeholder="Ingresar nombre de la etiqueta"
              />
              <small class="invalid-feedback d-block" *ngIf="etiquetaForm.get('nombre').hasError('required') && etiquetaForm.get('nombre').touched">Nombre etiqueta es requerido</small>
            </div>
          </div>
          <div class="col-md-6">
            <app-busqueda-categoria [group]="etiquetaForm" [icon]="'fa-hashtag'" [label]="'Categoría'" [placeholder]="'Ingresar categoria de la etiqueta'"></app-busqueda-categoria>
            <small class="invalid-feedback d-block" *ngIf="etiquetaForm.get('categoria').hasError('required') && etiquetaForm.get('categoria').touched">Categoría es requerido</small>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-md-12">
            <button *ngIf="!etiquetaForm.get('id').value" type="submit" class="btn btn-outline-success">Guardar</button>
            <button *ngIf="etiquetaForm.get('id').value" type="button" class="btn btn-outline-success mr-2" (click)="actualizarEtiqueta()">Actualizar</button>
            <button *ngIf="etiquetaForm.get('id').value" type="button" class="btn btn-outline-danger mr-2" (click)="eliminarEtiqueta()">Eliminar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
